header {
    color:#223667;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 300;
    padding: 20px;
}
body {
    text-align: center;
    background: rgb(207, 206, 206);
    font-family: Helvetica, sans-serif;
    color: rgb(31, 30, 29);
    margin: 30px;
    padding: 100px;
}
.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 30px;
}
table {
    width: 50%;
    text-align: left;
    background-color: #c1c1c4;
    border-radius: 10px;
    border: 1px #0e0e13 solid;
    margin: 20px;
    padding: 25px;
}
th {
    padding-bottom: 20px;
}
tbody {
    padding: 30px;
}
.first-col {
    text-align: right;
}
button {
    padding: 5px 10px;
    margin: 10px;
    background-color: #355e9f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
background-color: #223667;
}

.logout {
    text-align: right;
}